@model ML.UserIdentity
@{
}
<h1>@ViewBag.Name</h1>

@using (Html.BeginForm("Asignar", "Rol", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @* @Html.HiddenFor(model => model.Rol.Name) *@
    @Html.HiddenFor(model => model.Rol.RoleId)

    @Html.DropDownListFor(model => model.IdUsuario, new SelectList(Model.IdentityUsers, "IdUsuario", "UserName"), "Selecciona un Usuario", new { @class = "form-control" })

    <button type="submit">Asignar</button>
}
